<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }} | {{ site.title }} | {{ site.affiliation }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.title }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:url" content="{{ site.canonical }}{{ page.permalink }}">
    <meta property="og:site_name" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="default">
    <meta property="og:image" content="{{ site.avatar | relative_url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.avatar | relative_url }}">

    <link rel="canonical" href="{{ site.canonical }}{{ page.permalink }}"/>

    {% if site.favicon %}
      <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon | relative_url }}" type="image/png" />
    {% endif %}
    {% if site.favicon_dark %}
      <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark | relative_url }}" type="image/png" />
    {% endif %}

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css"
      integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw="
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/pub.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">

    <script>
      function toggleMenu() {
        var x = document.getElementById("myLinks");
        if (!x) return;
        x.classList.toggle("show");
      }
    </script>

    <style>
      .wrapper section.content { text-align: left; }
      .wrapper section.content h1,
      .wrapper section.content h2,
      .wrapper section.content h3 { text-align: left; }
      .wrapper section.content h2 { margin-top: 0; }
    </style>
  </head>

  <body>

    <div class="topnav">
      <div id="myLinks">
        {% include navigation.md %}
      </div>

      <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="wrapper" style="padding-top:60px;">
      <header>
        {% if site.avatar %}
          <a class="image avatar"><img src="{{ site.avatar | relative_url }}" alt="avatar" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
          <position style="font-size:1.10rem;">{{ site.position }}</position>
          <br>
        {% endif %}

        {% if site.affiliation %}
          <a href="{{ site.affiliation_link }}" rel="noopener">
            <autocolor>{{ site.affiliation }}</autocolor>
          </a>
          <br>
        {% endif %}

        {% if site.email %}
          <email>{{ site.email }}</email>
        {% endif %}

        <br><br>

        <div class="social-icons">
          {% if site.twitter %}
            <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
              <i class="fab fa-x-twitter"></i>
            </a>
          {% endif %}
        </div>
      </header>

      <section class="content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
